// Color Palette
$primary-color: #00529b;
$secondary-color: #7b5c52;
$primary-bg-color: #efefef;
$table-even-row-color: #c2f7ff;
$table-odd-row-color: #fff;
$text-color: #000; // Default text color
$text-color-inverse: #fff; // For text on dark backgrounds

// Font Settings
$font-family-base: montserrat, Tahoma, "System UI", "sans-serif";
$font-weight-bold: 700;

// Spacing and Layout
$section-padding: 12px;
$select-padding: 0.5rem;
$margin-small: 5px; // Used for small margins around select and buttons
$border-radius-base: 4px;

// Table Styles
$table-max-width: 800px;
$table-padding: 12px;
$table-header-bg-color: $primary-color;
$table-row-border: 1px solid $primary-bg-color;
$table-last-row-border: 2px solid $primary-color;

// Button Styles
$go-button-bg-color: #0071eb;
$add-button-bg-color: #008826;
$button-padding: 0.5rem 1rem;
$button-text-color: $text-color-inverse;
$delete-button-bg-color: #e51300;

// Course Title Styles
$course-title-bg-color: $secondary-color;
$course-title-text-color: $text-color-inverse;
$course-title-padding: 10px;
$course-title-font-size: 1.5rem;
