.project {
  @include flex-column-center;
  margin-bottom: 1rem;

  &__listCourses_select {
    @include flex-center;
    padding: 12px;
    background-color: $primary-color;
    color: #fff;
    width: 80%;
    max-width: 1000px; // Keeps it from getting too wide on larger screens

    select,
    .project__listCourses_goButton {
      margin: 0 $margin-small;
    }

    select {
      padding: 0.5rem;
      background-color: #fff;
      border: none;
      color: #000;
      font-size: 1rem;
      width: 100%;
    }
  }

  &__group {
    width: 100%;
  }

  &__course_title {
    background-color: #00529b;
    color: white;
    padding: $course-title-padding;
    font-size: $course-title-font-size;
    font-weight: 700;
    margin-top: 20px; /* Space before each new course group */
  }

  &__table {
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    font-family: montserrat;
    th,
    td {
      text-align: left;
      padding: 12px;
    }

    th {
      background-color: #7b5c52;
      color: #fff;
      font-size: 1.2rem;
      font-family: verdana, $font-family-base;
    }

    tbody tr:nth-of-type(odd) {
      background-color: #fff;
    }
    tbody tr:nth-of-type(even) {
      background-color: #efefef;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid #7b5c52;
    }

    td:nth-child(1) {
      max-width: 160px; /* Set min-width for the first column */
      font-weight: 700;
    }
    th:nth-child(2),
    td:nth-child(2) {
      max-width: 400px;
      line-height: 1.5rem;
    }
    th:nth-child(4),
    td:nth-child(4) {
      text-align: center;
    }
  }
}
