@import "../components/projects";

.project header {
  margin-bottom: 1rem;
  @include flex-column-center;
  width: 50%;

  h1 {
    font-size: 2.75rem;
    font-family: montserrat;
    font-weight: 700;
  }
}
